services:
  db:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_ROOT_PASSWORD: root-password
      POSTGRES_DB: new-light-test
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

  app:
    build:
      context: .
      args:
        DATABASE_URL: postgres://user:password@db:5432/new-light-test
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
      DATABASE_URL: postgres://user:password@db:5432/new-light-test
      REDIS_URL: redis://redis:6379
    env_file:
      - .env
    depends_on:
      - db
      - redis

volumes:
  db-data: {}
  redis-data: {}
