name: Tests

on:
  repository_dispatch:
    types:
      - "vercel.deployment.success"
jobs:
  run-tests:
    if: github.event_name == 'repository_dispatch'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.client_payload.git.sha }}
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.2
      - name: Install dependencies
        run: bun install
      - name: Run tests
        run: bun test
